.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.full-width {
  width: 100%;
}

.open {
  display: block;
  z-index: 20;
}

.close {
  display: none;
}

#logo {
  padding-top: 5px;
  width: 110px;
}

@media(min-width: 600px) {
  #logo {
    padding-top: 6px;
    width: 160px;
  }
}

@media(min-width: 992px) {
  #logo {
    padding-top: 8px;
    width: 200px;
  }
}

.my-nav {
  box-shadow: none;
}

nav {
	background-color: blue;
}

.collection {
	border-width: 0;
}

.collection .collection-item {
	border-width: 0;
	text-align: center;
}

.card-title {
	border-bottom: 1px solid skyblue;
	padding: 0.5em;
	font-size: 1.5em !important;
	font-weight: normal !important;
}

.collection-item {
	font-size: 1.5em;
}

